<div class="header-container">
  <div class="logo-container">
    <!-- <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->
    <a class="logo" href="#" (click)="navigateHome()">DR-<span>App</span></a>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">
    <a routerLink="'/pages/appointment'"> <button nbButton style="bottom: 159px;margin: 0 auto;padding: 5px;border-radius: 31px;padding-left: 15px;padding-right: 15px;border: 1px solid #dcdcdc;color: #3366ff;font-weight: bold;left: 50%;">Appointment</button></a>
    <nb-action class="control-item">
      <!-- <nb-search type="rotate-layout"></nb-search> -->
    </nb-action>
    <nb-action class="control-item"  (click)="appointment()"> <button nbButton style="bottom: 159px;margin: 0 auto;padding: 5px;border-radius: 31px;padding-left: 15px;padding-right: 15px;border: 1px solid #dcdcdc;color: #3366ff;font-weight: bold;left: 50%;">Appointment</button></nb-action>
    <nb-action class="control-item"  > <button nbButton style="bottom: 159px;margin: 0 auto;padding: 5px;border-radius: 31px;padding-left: 15px;padding-right: 15px;border: 1px solid #dcdcdc;color: #3366ff;font-weight: bold;left: 50%;">Walk -in</button></nb-action>
    <nb-action class="control-item" icon="settings-2-outline"></nb-action>
    <!-- <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action> -->
  </nb-actions>
</div>
