<nb-card>
    <nb-card-body>
  
      <nb-tabset>
        <nb-tab tabTitle="Ealier">
          <p>List of <strong>users</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Orders">
          <p>List of <strong>orders</strong>.</p>
        </nb-tab>
      
      </nb-tabset>
  
    </nb-card-body>
  </nb-card>