<!-- <div class=" row">
    <div class="col-md-3 col-lg-3"> -->
        <nb-layout>
            <nb-layout-column>
      
<nb-calendar [(date)]="date" [boundingMonth]="true"  [min]="date2"  (dateChange)="get_slots($event)"></nb-calendar>
<!-- </div>
<div class="col-md-9 col-lg-9"> -->
  </nb-layout-column>
  <nb-layout-column >
   
    <nb-card >
      <nb-card-header>Morning
          <div class="row"><div class="col-md-6 col-lg-6 col-xxxl-6"><sub>9:00 AM to 12:00 PM</sub> </div> <div class="col-md-6 col-lg-6 col-xxxl-6"  style="color:slateblue;text-align: end;" ><label>+ Add Slots<ngx-material-timepicker-toggle [for]="toggleTimepickermrg" style="display: none;"> </ngx-material-timepicker-toggle></label></div>
          <input placeholder="mrg" [(ngModel)]="mrgslot"
          [ngxTimepicker]="toggleTimepickermrg" min="09:00 am" max="12:00 pm"  (ngModelChange)="onModelChanged()" hidden> 
          <ngx-material-timepicker #toggleTimepickermrg  [minutesGap]="30"></ngx-material-timepicker>
        </div>
      </nb-card-header>
        <nb-card-body>
         
           <div class="row">
               <div class="col-md-3 col-lg-3" style="    padding-right: 3%;
               padding-bottom: 3%;"  *ngFor='let slot of slotslist'>
                <nb-button-group  >
                    <button nbButtonToggle>{{slot}}</button> 
                </nb-button-group>
               </div>
           </div>
           
          
         
           
            
            </nb-card-body>

           
            </nb-card>
            <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
                <nb-card-header>Evening
                    <div class="row"><div class="col-md-6 col-lg-6 col-xxxl-6"><sub>5:00 PM to 9:00 PM</sub> </div> <div class="col-md-6 col-lg-6 col-xxxl-6"  style="color:slateblue;text-align: end;" ><label>+ Add Slots<ngx-material-timepicker-toggle [for]="toggleTimepicker" style="display: none;"> </ngx-material-timepicker-toggle></label></div>
                    <input placeholder="Eve" [(ngModel)]="eveslot"
                [ngxTimepicker]="toggleTimepicker" min="05:00 pm" max="09:00 pm"  (ngModelChange)="onModelChangedEve()"  hidden>  
                    <ngx-material-timepicker #toggleTimepicker  [minutesGap]="30"></ngx-material-timepicker></div>
                </nb-card-header>
                  <nb-card-body>
                    <div class="row">
                        <div class="col-md-3 col-lg-3" style="    padding-right: 3%;
                        padding-bottom: 3%;"  *ngFor='let slot of slotslist1'>
                         <nb-button-group  >
                             <button nbButtonToggle >{{slot}}</button> 
                         </nb-button-group>
                        </div>
                    </div>
                   
                     
                      
                      </nb-card-body>
          
                     
                      </nb-card>
   
   </nb-layout-column>
    </nb-layout>   
<!-- </div>
</div> -->
